<h1>crear nuevo registro</h1>
<div class="example-container">
  <form (submit)="newRecord()" name="formRegister">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input name="name" matInput [(ngModel)]="data.name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Programa</mat-label>
      <mat-select name="program" [(ngModel)]="data.program">
        <mat-option *ngFor="let program of programs" value="{{program.id}}">{{program.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Comentario</mat-label>
      <textarea matInput [(ngModel)]="data.comment" name="comment"></textarea>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="warn">Enviar</button>
  </form>
</div>
