<h1>Últimas noticias</h1>
<mat-card class="example-card" *ngFor="let item of dataNews">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://picsum.photos/750/600" [alt]="item.title">
  <mat-card-content>
    <p>
      {{item.body}}
    </p>
  </mat-card-content>
</mat-card>
